<section class="section education" id='education'>
    <div class="container">
        <div class="section-box">
            <div class="mb-4" data-aos="fade-up" data-aos-duration="1000">
                <h3 class="e-font contact-title big-title" style="color:#ccd6f6;">05. {{"Education" }}</h3>
                <h4 class="e-font education-title big-title">
                    Shri Guru Gobind Singhji Institute of Engineering and Technology , Nanded.
                </h4>
                <p data-aos="fade-up" data-aos-duration="1000">Government Aided An Autonomous institute</p>
            </div>
            <p data-aos="fade-up" data-aos-duration="1000">
Btech In (Information Technology) </p>
  <a href="https://www.sggs.ac.in/" target="_blank" class="responsive">  <img src='assets/images/1670069016.png' width='800' /></a>
        </div>
        
    </div>
</section>
